<div class="tile">
    <div class="upper-section" [style.background]="tile_background">
        <div class="tile-image float-left">
            <img class="tile-img" src="../../../assets/images/{{tile_image}}" alt="Kiwi standing on oval">
        </div>
        <div class="text-right right-section">
            <div class="tile-count">{{tile_count}}</div>
            <div class="tile-title">{{tile_title}}</div>
        </div>
    </div>
    <div class="lower-section">
        <div class="tile-link"><a routerLink="{{tile_link}}">View Details</a></div>
    </div>
</div>