<div class="paid-user-form">
    <form #form="ngForm" (ngSubmit)="submit(form.value)">
        <label>
            <!--<label>Firstname:</label>-->
        <input class="input" type="text" name="firstname" ngModel placeholder="Firstname">
        </label>
        <div>
            <!--<label>Lastname:</label>-->
            <input class="input" type="text" name="lastname" ngModel placeholder="Lastname">
        </div>
        <div>
            <!--<label>Street:</label>-->
            <input class="input" type="text" name="street" ngModel placeholder="Street">
        </div>
        <div>
            <!--<label>Zip:</label>-->
            <input class="input" type="text" name="zip" ngModel placeholder="Zip">
        </div>
        <div>
            <!--<label>City:</label>-->
            <input class="input" type="text" name="city" ngModel placeholder="City">
        </div>

        <button class="submit" type="submit">Submit</button>
    </form>

    <!--<pre>
{{form.value | json}}
    </pre>
    
    <h4>Submitted</h4>
    <pre>    
{{value | json }}
    </pre>-->
</div>