<div class="paid-user-page">
  <div class="paid-user-title">
      <h1>Paid user sign up</h1>
    <div class="paid-user-form">

      <form novalidate [formGroup]="user" (ngSubmit)="onSubmit()">
        <label>
          <!-- <span>Full name</span> -->
          <input  class="input" type="text" placeholder="Your full name" formControlName="name">
            <!-- name -->
            <div class="error" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
              Name is required
            </div>
            <div class="error" *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
              Minimum of 2 characters
            </div>
        </label>
        <div formGroupName="account">
          <label>
            <!-- <span>Email address</span> -->
            <input class="input" type="email" placeholder="Your email address" formControlName="email">
              <!-- account -->
              <div class="error" *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
              Email is required
            </div>
          </label>
          <label>
            <!-- <span>Confirm address</span> -->
            <input class="input" type="email" placeholder="Confirm your email address" formControlName="confirm">
            <div class="error" *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
                Confirming email is required
              </div>
          </label>
        </div>
        <button class="submit" type="submit" [disabled]="user.invalid">Sign up</button>
      </form>
    </div>
  </div>
</div>