<div class="main-page">
    <div class="advertisement">
        <div class="title">Hyderabad Dashboard</div>
    </div>
    <div class="advertisement-info">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
        </ul>
    </div>
    <div class="login-component">
        <div class="login-links">
            <div class="tile-link">
                <a routerLink="login" (click)="getCurrentLocation('/main/login')">Login</a>
                <div class="arrow-up login" *ngIf="location == '/main/login' "></div>
            </div>
            <div class="tile-link">
                <a routerLink="paidUser" (click)="getCurrentLocation('/main/paidUser')">Paid user</a>
                <div class="arrow-up paidUser" *ngIf="location == '/main/paidUser' "></div>
            </div>
            <div class="tile-link">
                <a routerLink="freeUser" (click)="getCurrentLocation('/main/freeUser')">Free user</a>
                <div class="arrow-up freeUser" *ngIf="location == '/main/freeUser' "></div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>