.login-component{
    display: block;
    margin: 10px;
    border: 1px solid black;
    height: 80vh;
    @media (min-width: 768px) {
        margin: 60px;
    }
    .login-links{
        background: grey;
        display: block;
        overflow: auto;
        .tile-link{
            float: left;
            padding: 10px;
            width: 25%;
            font: {
                size: 18px;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}