.login-component{
    display: block;
    margin: 10px;
    border: 1px solid black;
    height: 80vh;
    @media (min-width: 768px) {
        margin: 60px;
    }
    .login-links{
        background: grey;
        display: block;
        overflow: auto;
        .arrow-up{
            position: relative;
            height: 0;
            width: 1%;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 15px solid #ECF0F1;
            left: 10%;
            //position: absolute;
            top: 10px;
        }
        .tile-link{
            float: left;
            padding: 10px;
            width: 25%;
            font: {
                size: 18px;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
.display-none {
    display: none;
}